<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Search Exams</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <form [formGroup]="examForm">
                            <div class="col-xxl-6 col-md-4">
                                <label for="titleInput" class="form-label">Title</label>
                                <input type="text" class="form-control rounded-pill" placeholder="Enter exam title" formControlName="title">
                            </div>
                            
                            <div class="col-xxl-12 col-md-2 mt-3">
                                <div class="d-flex flex-wrap">
                                    <button type="button" (click)="searchExam()" class="btn btn-primary me-2 waves-effect waves-light mb-2">Search</button>
                                    <button type="button" class="btn btn-info me-2 waves-effect waves-light mb-2">Export</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- .col-->
</div> <!-- end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card tablegrid">
            <div class="card-header">
                <h4 class="card-title mb-0 flex-grow-1">Exams</h4>
                <button type="button" class="btn btn-info btnright waves-effect waves-light" (click)="createExam()">Create</button>
            </div>
            <!-- end card header -->
            <div class="card-body">
                <div id="table-gridjs">
                    <table role="grid" class="gridjs-table">
                        <thead class="gridjs-thead">
                            <tr class="gridjs-tr">
                                <th class="gridjs-th">Title</th>
                                <th class="gridjs-th">Description</th>
                                <th class="gridjs-th">Start Date</th>
                                <th class="gridjs-th">End Date</th>
                                <th class="gridjs-th">Organization</th>
                                <th class="gridjs-th">Action</th>
                            </tr>
                        </thead>
                        <tbody class="gridjs-tbody">
                            <tr class="gridjs-tr" *ngFor="let exam of examModels">
                                <td class="gridjs-td">{{exam.title}}</td>
                                <td class="gridjs-td">{{exam.description}}</td>
                                <td class="gridjs-td">{{exam.startDate | date:'dd/MM/yyyy' }}</td>
                                <td class="gridjs-td">{{exam.endDate | date:'dd/MM/yyyy' }}</td>
                                <td class="gridjs-td">{{exam.orgName}}</td>
                                <td class="gridjs-td">
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light me-2" (click)="editExam(exam.id)"><i class="mdi mdi-pencil"></i></button>
                                    <button type="button" class="btn btn-danger btn-sm waves-effect waves-light" (click)="deleteExam(exam.id,exam.title)"><i class="ri-delete-bin-5-line"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
