<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Reset Password </h4>

            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <form [formGroup]="resetPasswordForm">
                        <div class="col-xxl-6 col-md-4">
                            <label for="exampleInputrounded" class="form-label">Username</label>
                            <input type="text" class="form-control rounded-pill" placeholder="Enter Username" formControlName="userName">
                        </div>
                        <div class="col-xxl-6 col-md-4">
                            <label for="exampleInputrounded" class="form-label"> Password</label>
                            <input type="text" class="form-control rounded-pill" placeholder="Enter password" formControlName="password">
                        </div>
                        <div class="col-xxl-6 col-md-4">
                            <label for="exampleInputrounded" class="form-label"> Confirm Password</label>
                            <input type="text" class="form-control rounded-pill" placeholder="Enter confirm password" formControlName="confirmPassword">
                        </div>
                        <div class="col-xxl-6 col-md-4">
                         {{message}}
                        </div>
                        <div class="col-xxl-6 col-md-2">
                            <div class="d-flex flex-wrap searhbtn">
                                <button type="button" (click)="resetPassword()"
                                    class="btn btn-primary me-2 waves-effect waves-light mb-2">Reset</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- .col-->


</div> <!-- end row-->
