<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Search </h4>
            </div><!-- end card header -->
            <form [formGroup]="searchUserForm">
                <div class="card-body">
                    <div class="live-preview">
                        <div class="row">
                            <div class="col-xxl-6 col-md-4">
                                <label for="exampleInputrounded" class="form-label">User Name</label>
                                <input type="text" class="form-control rounded-pill" placeholder="Enter User Name" formControlName="userName">
                            </div>
                            <div class="col-xxl-6 col-md-4">
                                <label for="exampleInputrounded" class="form-label">User Type</label>
                                <select class="form-select rounded-pill mb-3" aria-label="Default select example" formControlName="userType">
                                    <option value="">All</option>
                                    <option *ngFor="let userType of userTypes" value="{{userType.userTypeCode}}">
                                        {{userType.userTypeName}}</option>
                                </select>
                            </div>
                            <div class="col-xxl-12 col-md-2">
                                <div class="d-flex flex-wrap searhbtn">
                                    <button type="button"
                                        class="btn btn-primary me-2 waves-effect waves-light mb-2" (click)="searchUser()">Search</button>
                                    <button type="button"
                                        class="btn btn-info me-2 waves-effect waves-light mb-2">Export</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div> <!-- .col-->
</div> <!-- end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card tablegird">
            <div class="card-header">
                <h4 class="card-title mb-0 flex-grow-1">Users</h4>
                <button type="button" class="btn btn-info btnright waves-effect waves-light"
                    (click)="createUser()">Create</button>
            </div>
            <!-- end card header -->
            <div class="card-body">
                <div id="table-gridjs">
                    <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">

                        <div class="gridjs-wrapper" style="height: auto;">
                            <table role="grid" class="gridjs-table" style="height: auto;">
                                <thead class="gridjs-thead">
                                    <tr class="gridjs-tr">
                                        <th data-column-id="id" class="gridjs-th gridjs-th-sort" tabindex="0">
                                            <div class="gridjs-th-content">Id</div>
                                        </th>
                                        <th data-column-id="name" class="gridjs-th gridjs-th-sort" tabindex="0">
                                            <div class="gridjs-th-content">User Name</div>
                                        </th>
                                        <th data-column-id="email" class="gridjs-th gridjs-th-sort" tabindex="0">
                                            <div class="gridjs-th-content">Role</div>
                                        </th>
                                        <th data-column-id="email" class="gridjs-th gridjs-th-sort" tabindex="0">
                                            <div class="gridjs-th-content">Department</div>
                                        </th>
                                        <th data-column-id="email" class="gridjs-th gridjs-th-sort" tabindex="0">
                                            <div class="gridjs-th-content">Email</div>
                                        </th>
                                        <th data-column-id="email" class="gridjs-th gridjs-th-sort" tabindex="0">
                                            <div class="gridjs-th-content">Phone</div>
                                        </th>
                                        <th data-column-id="email" class="gridjs-th gridjs-th-sort" tabindex="0">
                                            <div class="gridjs-th-content">Action</div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody class="gridjs-tbody" *ngFor="let user of users">
                                    <tr class="gridjs-tr">
                                        <td data-column-id="id" class="gridjs-td">{{user.id}}</td>
                                        <td data-column-id="name" class="gridjs-td">{{user.userName}}</td>
                                        <td data-column-id="email" class="gridjs-td">{{user.roleName}}</td>
                                        <td data-column-id="email" class="gridjs-td">{{user.department}}</td>
                                        <td data-column-id="email" class="gridjs-td">{{user.email}}</td>
                                        <td data-column-id="email" class="gridjs-td">{{user.phoneNumber}}</td>
                                        <td data-column-id="email" class="gridjs-td">
                                            <button type="button"
                                                class="btn btn-primary me-2 btn-sm btn-icon waves-effect waves-light"
                                                (click)="editUser(user.id)" fdprocessedid="a32kx7"><i
                                                    class="mdi mdi-pencil"></i></button>
                                            <button type="button" (click)="deleteUser(user.id,user.userName)"
                                                class="btn btn-danger btn-icon btn-sm waves-effect waves-light"
                                                fdprocessedid="a32kx7"><i class="ri-delete-bin-5-line"></i></button>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->