.left-space-17 {
    padding-left: 17rem !important;
}

.pt-5 {
    padding-top: 5rem !important;
}

.question {
    background-color: #f9f9f9; /* Light gray background */
    padding: 10px; /* Add some space inside the div */
    border: 1px solid #ddd; /* Light border */
    margin-bottom: 10px; /* Space between questions */
}

.question-number {
    font-weight: bold; /* Bold question number */
}

.options {
    margin-left: 20px; /* Indent options slightly */
}